{% extends "templates/base.twig" %}

{% block content %}
  {% if order %}
  	<main class="p-thank" transaction-id="{{order_data.order_number}}">
  		<div class="u-container">
  			<div class="row">
  				<div class="col-lg-6">
						<div class="l-checkout__form">
					  	<h1 class="u-h3">{{ 'Thank you. Your order has been accepted.' | translateString('Checkout - Thank you') }}</h1>
					  	<ul class="p-thank__list">
					  		<li>{{ 'Order number' | translateString('Checkout - Order number') }}: <b>{{order_data.order_number}}</b> </li>
					  		<li>{{ 'Date' | translateString('Checkout - Date') }}: <b>{{order_data.order_date|date("m.d.Y")}}</b></li>
					  		<li>Email: <b>{{order_data.billing_email}}</b></li>
					  		<li>{{ 'City' | translateString('Checkout - City') }}: <b>{{order_data.billing_city}}</b></li>
					  		<li>{{ 'Post Office' | translateString('Checkout - Post Office') }}: <b>{{order_data.billing_address_1}}</b></li>
					  		<li>{{ 'Payment method' | translateString('Checkout - Payment method') }}:	<b>{{order_data.payment_method_title}}</b></li>
					  		<li>{{ 'Full name' | translateString('Checkout - Full name') }}: <b>{{order_data.billing_first_name}} {{order_data.billing_last_name}}</b></li>
					  		<li>{{ 'Phone' | translateString('Checkout - Phone') }}: <b>{{order_data.billing_phone}}</b></li>
					  	</ul>
					  	<div class="p-thank__payment">
					  		{% do action("woocommerce_thankyou_" ~ order_data.payment_method, order_data.order_id) %}
					  	</div>
		  			</div>
  				</div>

  				<div class="col-lg-6">
  					<div class="l-checkout__form">
  						<h2 class="u-h3">{{ 'Ordering information' | translateString('Checkout - Ordering information') }}</h2>
  						<ul class="p-thank__list">
  							{% for product in products %}
	  							<li 
	  								class="p-thank__list-product js-order-item" 
	  								data-name="{{product.name}}"
	  								data-id="{{ product.id }}"
	  								data-quantity="{{product.qty}}"
	  								data-price="{{product.total}}"
	  								data-brand="{{product.brand[0].name}}"
	  								data-categories="{{product.cats|join(', ')}}"
  								>
										<p><b>{{product.name}}</b></p>
		  							<p>{{ 'Quantity' | translateString('Cart - Quantity') }}: <b>{{product.qty}}</b></p>
		  							<p>{{ 'Price' | translateString('Checkout - Price') }}: <b>{{product.total}} {{currency}}</b></p>
	  							</li>
  							{% endfor %}
  							<li data-total="{{order_data.order_total}}">{{ 'Total' | translateString('Cart - Total') }}: <b>{{order_data.order_total}} {{currency}}</li>
  						</ul>
  					</div>
  				</div>
  			</div>
  		</div>
  	</main>

  {% else %}
   	<main class="p-checkout">
	  	<div class="u-container">
	  		{% do action( 'woocommerce_cart_has_errors' ) %}
	  		{{ function('woocommerce_output_all_notices') }}
	  		<div class="row">
	  			<div class="col-lg-6">
	  				<form name="checkout" method="post" class="l-checkout" action="{{checkout_url}}" enctype="multipart/form-data">
							<div class="l-checkout__form">
								<h1 class="u-h3">{{ 'Ordering' | translateString('Checkout - Ordering') }}</h1>

					  			{% for key, field in checkout_billing %}
					  				<div class="c-input">
					  					<span>{{field.label}}</span>
					  					{% if user %}
					  						<input 
						  						{{field.required ? "required" : ""}} 
						  						type="{{field.type ? field.type : "text"}}"
						  						name="{{key}}" 
						  						value="{{checkout_key[loop.index0] ? checkout_key[loop.index0] : ""}}" 
						  					>
					  					{% else %}
					  						<input 
						  						{{field.required ? "required" : ""}} 
						  						type="{{field.type ? field.type : "text"}}"
						  						name="{{key}}" 
						  					>
					  					{% endif %}
					  				</div>
					  			{% endfor %}

					  			{% for key, field in checkout_order %}
					  				<div class="c-input ">
						  				<span>{{field.label}}</span>
						  				<textarea name="{{key}}" id="{{key}}" rows="4" placeholder="{{field.placeholder}}"></textarea>
						  			</div>
					  			{% endfor %}

						  	{{function('woocommerce_checkout_payment')}}
					  	</div>
					  </form>
	  			</div>
	  			<div class="col-lg-6">
	  				<div class="l-cart">
						 	{% for product in products %}
								{% set category  = function('wc_get_product_category_list', product.delete_productid) %}
								<div class="c-product-cart">
									<a href="{{ product.url }}" class="c-product-cart__img">
										<img src="{{product.thumbnail | resize(100, height) }}">
									</a>
									<div class="c-product-cart__info">
										<div class="c-product-cart__name">
											{% for item in product.attr.brand %}
				                {% set brandlink = function('get_category_link', item.term_id) %}
				                <a href="{{brandlink}}" class="c-product-cart__name-brand">{{item.name}}</a>
				              {% endfor %}

											<a href="{{product.url}}" class="c-product-cart__name-title">{{product.title}}</a>
											<span class="c-product-cart__name-cat">{{category}}</span>

											<div class="mb-3">{{ 'Size' | translateString('Cart - Size') }}: {{product.attr.size}}</div>
											<div class="d-flex justify-content-between">
												<div class="c-price">{{ product.quantity }} шт</div>
												<div class="c-total">{{product.total}}</div>
											</div>
											
										</div>
										
									</div>
								</div>
		          {% endfor %}
						</div>

	  				<div class="l-sidebar-cart">
							<form class="l-checkout__coupon l-sidebar-cart__cupons actions" method="post">
								<h2 class="u-h3">{{ 'Coupons' | translateString('Cart - Coupons') }}</h2>
								<div class="c-form-cupons">
									<input type="text" name="coupon_code" id="coupon_code" value="" placeholder="{{ 'Promo code' | translateString('input - Promo code') }}">
									<button type="submit" name="apply_coupon" value="Apply coupon" class="u-btn-submit">
				            <svg width="26px" height="14px" class="">
				              <use xlink:href="#big-arrow"></use>
				            </svg>
				          </button>
				          {% do action('woocommerce_cart_coupon') %}
				        </div> 
							</form>

							<div class="l-sidebar-cart__total actions">
		  					<h2 class="u-h3">{{ 'Your order' | translateString('Cart - Your order') }}</h2>
								<ul class="l-sidebar-cart__list">
		              {{ nonce }}
									<li class="l-sidebar-cart__item">
										<span>{{ 'Order amount' | translateString('Cart - Order amount') }}</span>
										<span class="c-price">{{cart_total}}</span>
									</li>
									<li class="l-sidebar-cart__item">
										<span>{{ 'Shipping' | translateString('Cart - Shipping') }}</span>
										<span class="c-price">{{shipping}}</span>
									</li>

									{% if coupons %}
										{% for item in coupons %}
											<li class="l-sidebar-cart__item is-red">
												<span>{{ 'Discount Coupon' | translateString('Cart - Discount Coupon') }}</span>
												<span>-{{item.amount}} {{currency}}</span>
											</li>
										{% endfor %}
									{% endif %}

									<li class="l-sidebar-cart__item">
										<span>{{ 'Total' | translateString('Cart - Total') }}</span>
										<span>{{total}}</span>
									</li>
								</ul>
							</div>		
						</div>
	  			</div>
	  		</div>
		  </div>
  	</main> 	
  {% endif %}
{% endblock  %}