{% block content %}
<main class="p-wishlist p-shop">

	<div class="u-container is-big">
    {# <div class="p-shop__flex">
      {% include 'templates/partial/sidebar.twig' with {'sidebar': sidebar} %} #}
      <section class="l-shop">
        <div class="l-shop__ordering">
          <h1 class="u-h2">Избранное</h1>
        </div>

				<div class="l-wishlist__content">
					{# <pre>{{dump(empty)}}</pre>   #}

					{# <pre>{{dump(products)}}</pre>    #}
          
          {% if products %}
          	<div class="row">
          	{% for item in products %}
          		<div class="col-lg-3 col-md-4 col-sm-6 u-col">
          			{% include 'templates/partial/product.twig' with {'data': item, 'wish': item.btn_params, 'wish_class': item.btn_class} %}
          		</div>	
          	{% endfor %}
          	</div>	
          {% else %}
          	{{empty}}
          {% endif %}
          {# <pre>{{dump(recently)}}</pre> #}
          
          {# {{ function('do_shortcode', '[woocommerce_recently_viewed_products per_page="5"]') }} #}
				</div>
			</section>

		{# </div> #}
		<section class="l-recently">
			{# {{ function('dynamic_sidebar', 'recently') }} #}
      {# {% include 'templates/woo/recently-viewed.twig' %}  #}
		</section>
		
	</div>

</main>
{% endblock %}