<section class="l-brand ">
  {# <div class="l-brand__img d-lg-block d-none" style="background-image: url('{{theme.link}}/src/img/sefsdf.jpg')">
  </div> #}

  <div 
		class="l-brand__img d-lg-block d-none lazy js-lazy-load"
        data-bg="{{theme.link}}/src/img/sefsdf.jpg"
		></div>
	
	<div class="u-container">

  	<div class="l-brand__content js-slider-container">
  		<div class="l-brand__head">
  			
        <div class="l-brand__title">
        	<a href="{{site.url}}/brand/wearme/" class="u-btn is-black">{{ 'The entire collection' | translateString('buttons - The entire collection') }}</a>
        	<h2 class="u-h2">{{ 'Bodies and kits' | translateString('Brand section - Bodies and kits') }}</h2>
  				<p>Ukrainian Underwear Essentials est. MMXX</p>
        </div>
        <div class="l-brand__arrow">
        	{% include 'templates/partial/arrow.twig' with {'small': true, 'length': data|length} %}
        </div>
  		</div>
  		<div class="row js-product-row swiper">
  			<div class="swiper-wrapper">
				{% for product in data %}
					<div class="col-lg-4 col-md-4 col-sm-6 col-6 u-col swiper-slide">
						{% include 'templates/partial/product.twig' with {'data': product, 'brand': false} %}
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>