 <section class="l-branded">
	<div
		class="l-branded__img d-lg-block d-none lazy"
		data-bg="{{theme.link}}/src/img/9130.jpg"
		></div>
	
	<div class="u-container">
		<div class="l-branded__content">
			<div class="l-branded__head">
  			<div class="l-branded__head-text">
  				<div  class="c-logo">
						<a href="{{site.url}}">
							<svg width="310px" height="68px">
				        <use xlink:href="#logo"></use>
				      </svg>
						</a>

						<p>{{ 'The territory of your style and comfort' | translateString('Branded section - The territory of your style and comfort') }}</p>
					</div>
					{% if current_lang == 'ru' %}
						<p>Мы объединяем восходящие модные бренды. Наша площадка гарантирует покупателям качество товара и сроки доставки, а производителям - великолепное представление своего ассортимента. Пальто, юбки, платья, пиджаки, джинсы и обувь. Все самое трендовое на одной торговой площадке. </p>
					{% elseif current_lang == 'uk' %}
						<p>Ми об'єднуємо висхідні модні бренди. Наш майданчик гарантує покупцям якість товару та терміни доставки, а виробникам – чудове представлення свого асортименту. Пальто, спідниці, сукні, піджаки, джинси та взуття. Все трендове на одному торговому майданчику. </p>
					{% endif %}

  			</div>
  			<div class="c-appeal">
  				<span class="is-number">15</span>
  				<p class="u-h3">{{ 'brands' | translateString('Branded section - brands') }}</p>
  				<p class="u-h4">{{ 'already in our community' | translateString('Branded section - already in our community') }}</p>
  				<a href="#" class="u-btn is-orange">{{ 'sign up' | translateString('Branded section - sign up') }}</a>
  			</div>
			</div>
			<div class="l-branded__products d-none d-sm-block">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-6 u-col">
						<div class="c-product">
							<div class="c-product__img">
								<img 
									class="lazy"
									src="data:image/gif;base64,R0lGODlhAgADAIAAAP///wAAACH5BAEAAAEALAAAAAACAAMAAAICjF8AOw=="
									data-src="{{theme.link}}/src/img/223.png" 
									alt="branded product" 
									width="300" 
									height="450"
								>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-6 u-col">
						<div class="c-product">
							<div class="c-product__img">
								<img 
									class="lazy"
									src="data:image/png;base64,TEVITGhbV0IyeWs4cHlvSmFkUiouN2tDTWRuag=="
									data-src="{{theme.link}}/src/img/224.png" 
									alt="branded product" 
									width="300" 
									height="450"
								>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-6 u-col">
						<div class="c-product">
							<div class="c-product__img">
								<img 
									class="lazy"
									src="data:image/gif;base64,R0lGODlhAgADAIAAAP///wAAACH5BAEAAAEALAAAAAACAAMAAAICjF8AOw=="
									data-src="{{theme.link}}/src/img/225.png" 
									alt="branded product" 
									width="300" 
									height="450"
								>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-6 u-col">
						<div class="c-product">
							<div class="c-product__img">
								<img 
									class="lazy"
									src="data:image/gif;base64,R0lGODlhAgADAIAAAP///wAAACH5BAEAAAEALAAAAAACAAMAAAICjF8AOw=="
									data-src="{{theme.link}}/src/img/2221.png" 
									alt="branded product"
									width="300" 
									height="450"
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>