{# {{ dump(product_info) }} #}
<div class="l-product__info js-accordion">
  <div class="l-product__info-block js-accordion__item">
    <div class="l-product__info-title js-accordion__heading">
      <span>{{ 'Specification' | translateString('Product - Specification') }}</span>
      <svg width="11px" height="7px" class="u-arrow">
        <use xlink:href="#arrow"></use>
      </svg>
    </div>
    <div class="l-product__info-text js-accordion__list">
      <p><b>{{ 'Brand' | translateString('Product - Brand') }}:</b> {{attr.brand[0].name}}</p>
      <p><b>{{ 'Category' | translateString('Product - Category') }}:</b> {{cats|join(', ')}}</p>
      {% if product.get_sku %}
        <p><b>{{ 'SKU' | translateString('Product - SKU') }}:</b> {{product.get_sku}}</p>
      {% endif %}
      <p><b>{{ 'Availability' | translateString('Product - Availability') }}:</b> {{ stockStatus | translateString('Product - ' ~ stockStatus) }}</p>
      <p><b>{{ 'Delivery' | translateString('Product - Delivery') }}:</b> {{ 'Sending on tomorrow' | translateString('Product - Sending on tomorrow') }}</p>
    </div>
  </div>
  <div class="l-product__info-block js-accordion__item">
    <div class="l-product__info-title js-accordion__heading">
      <span>{{ 'Delivery and returns' | translateString('Product - Delivery and returns') }}</span>
      <svg width="11px" height="7px" class="u-arrow">
        <use xlink:href="#arrow"></use>
      </svg>
    </div>
    <div class="l-product__info-text js-accordion__list">
      {{ product_info['delivery_and_return'] }}
    </div>
  </div>
  <div class="l-product__info-block js-accordion__item">
    <div class="l-product__info-title js-accordion__heading">
      <span>{{ 'Payment method' | translateString('Product - Payment method') }}</span>
      <svg width="11px" height="7px" class="u-arrow">
        <use xlink:href="#arrow"></use>
      </svg>
    </div>
    <div class="l-product__info-text js-accordion__list">
      {{ product_info['payment_method'] }}
    </div>
  </div>
</div>