<section class="l-subs">
	<img 
		class="is-img lazy"
		src="data:image/png;base64,TEVITGhbV0IyeWs4cHlvSmFkUiouN2tDTWRuag==" 
		data-src="{{theme.link}}/src/img/subs.jpg" 
		alt="Подписаться на украинских производителей Branded" 
		width="1920" 
		height="647"
	>
  <div class="u-container">
  	<form class="c-form js-form-register">
  		<div class="c-form__title">
  			<div class="u-h3">{{ 'be on topic' | translateString('Subscribe section - be on topic') }}</div>
  			{# {% if current_lang == 'ru' %}
  				<p>Дарим скидку <span class="is-red">- 10%</span> за подписку на нашу рассылку</p>
  			{% elseif current_lang == 'uk' %}
  				<p>Даруємо знижку <span class="is-red">- 10%</span> за передплату на нашу розсилку</p>
  			{% endif %} #}
  		</div>
  		<div class="c-form__checkbox">
	  		<div class="c-checkbox">
	  			<input type="checkbox" value="man" name="gender">
	  			<p>{{ 'men' | translateString('Subscribe section - men') }}</p>
	  		</div>
  			
  			<div class="c-checkbox">
	  			<input type="checkbox" value="wooman" name="gender">
	  			<p>{{ 'women' | translateString('Subscribe section - women') }}</p>
	  		</div>
  		</div>
  		<div class="c-form__bottom">
  			<input type="email" placeholder="Email" name="email" required>
  			<input type="hidden" name="action" value="subscribe">
  			<button type="submit" class="u-btn is-black">{{ 'Subscribe' | translateString('buttons - subscribe') }}</button>
  			<div class="js-form-answer"></div>
  		</div>
  	</form>
	</div>
</section>